<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Tariro Tobaiwa" />
  <meta name="generator" content="Version {{version}}" />
  <title>{{title}}</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/starter-template/" />

  <!-- Calendar Heatmap CSS -->
  <link rel="stylesheet" type="text/css" href="css/jquery.calendarheatmap.min.css" />
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- custom styles for this page -->
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <!-- bootstrap bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- calendar heatmap -->
  <script src="js/jquery.calendarheatmap.min.js"></script>

  <!-- momentjs -->
  <script src="https://unpkg.com/moment"></script>

  <!-- googlecharts -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Ward', 'Occupancy (%)', 'Available Beds', 'Overdue for Review'],
        ['Courtyard', 1000, 400, 200],
        ['Cowdray LWS', 1170, 460, 250],
        ['Goodwood Ward LWS', 660, 1120, 300],
        ['Oak Low Secure', 1030, 540, 350],
        ['Park House LWS', 1030, 540, 350],
        ['Petworth LWS', 1030, 540, 350],
        ['Sycamore Low Secure', 1030, 540, 350],
        ['Willow Low secure', 1030, 540, 350]
      ]);

      var options = {
        chart: {
          title: 'Bed Occupancy',
          subtitle: 'Sales, Expenses, and Profit: 2014-2017',
        },
        bars: 'horizontal', // Required for Material Bar Charts.
        hAxis: { format: 'decimal' },
        height: 400,
        colors: ['#1b9e77', '#d95f02', '#7570b3']
      };

      var chart = new google.charts.Bar(document.getElementById('chart_div'));
      chart.draw(data, google.charts.Bar.convertOptions(options));
    }
  </script>

</head>

<body>
  {{{body}}}
</body>

</html>