<div class="col-lg-12">
  <header>
    <div>
      <div class="row flex-lg-row-reverse align-items-center">
        <div class="col-lg-12">
          <h1 class="display-5 fw-bold lh-1 mb-3">Deployment Overview</h1>
          <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
            <div class="d-flex flex-column align-items-start gap-2">
              <h3 class="fw-bold">Left-aligned title explaining these awesome features</h3>
              <p class="text-muted">Paragraph of text beneath the heading to explain the heading. We'll add onto it with
                another sentence and probably just keep going until we run out of words.</p>
              <a href="#" class="btn btn-primary btn-lg">Primary button</a>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 g-4">
              <div class="d-flex flex-column gap-2">
                <div
                  class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#collection"></use>
                  </svg>
                </div>
                <h4 class="fw-semibold mb-0">Featured title</h4>
                <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
              </div>

              <div class="d-flex flex-column gap-2">
                <div
                  class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#gear-fill"></use>
                  </svg>
                </div>
                <h4 class="fw-semibold mb-0">Featured title</h4>
                <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
              </div>

              <div class="d-flex flex-column gap-2">
                <div
                  class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#speedometer"></use>
                  </svg>
                </div>
                <h4 class="fw-semibold mb-0">Featured title</h4>
                <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
              </div>

              <div class="d-flex flex-column gap-2">
                <div
                  class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                  <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#table"></use>
                  </svg>
                </div>
                <h4 class="fw-semibold mb-0">Featured title</h4>
                <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
              </div>
            </div>
          </div>
          <p><small>
              scaffold is a CI/CD tool that supports rapid software development and publishing.<br> scaffold
              allows automation across the user’s pipeline, from code building, testing to deployment.<br> You can
              integrate
              scaffold with GitLab to create builds when new code lines are committed.
            </small></p>
          <div class="mb-5">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group"
              id="heatmap-5-wkday">
            </div>
            <div class="row my-4">
              <div class="col">
                <div id="heatmap-5"></div>
              </div>
            </div>
          </div>
          {{!-- <h5 class="fw-bold mb-0">Summary</h5><br>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <strong>Deployments</strong>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"><small>Date</small></th>
                        <th scope="col"><small>System</small></th>
                        <th scope="col"><small>Markers</small></th>
                        <th scope="col"><small>Status</small></th>
                      </tr>
                    </thead>
                    <tbody id="taskReport">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <strong>Incidents</strong>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"><small>Date</small></th>
                        <th scope="col"><small>Description</small></th>
                        <th scope="col"><small>Source</small></th>
                        <th scope="col"><small>Severity</small></th>
                      </tr>
                    </thead>
                    <tbody id="incidentReport">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div> --}}
        </div>
      </div>
    </div>
  </header>
  <footer class="pt-2 my-5 text-muted border-top">
    <small>Uptime : <span id="timeLapsed">00:00:00</span>&middot; Version : <sspan>{{version}}</span></small>
  </footer>
</div>

<script>
  setInterval("timeLapsed()", 1000);
  window.onload = timeLapsed();

  var currentYear = new Date().getFullYear();
  var selectedMonth = new Date().getMonth();
  var currentYearData = [];
  setupYearToggles(currentYear);
  yearSelected(currentYear);

  function timeLapsed() {
    const then = moment(`{{uptime}}`);
    const now = moment().format('DD/MM/YYYY HH:mm:ss');
    const timeLapsed = moment.utc(moment(now, "DD/MM/YYYY HH:mm:ss").diff(moment(then, "DD/MM/YYYY HH:mm:ss"))).format("HH:mm:ss")
    document.getElementById("timeLapsed").innerHTML = timeLapsed;
  }

  function yearSelected(selectedYear) {
    //https://tracksheet.co.uk/pipeline/api/incident/stats/
    currentYearData = []; currentYear = selectedYear; selectedMonthToProcess('Jan');
    $.ajax({
      type: "get", url:
        "https://carenotesplus.herokuapp.com/api/incident/stats/" + selectedYear, datatype: "json", success: function
          (resp) {
          if (!resp.error) {

            var incidents = [];
            var tasks = [];
            var date_pos_track = [];
            currentYearData = resp.data;

            const monthNames = ["January", "February", "March", "April", "May", "June", "July",
              "August", "September", "October", "November", "December"];

            // let's sort the incidents by date
            for (i = 0; i < resp.data.incidents.length; i++) {

              const current_date = resp.data.incidents[i].date.slice(0, 10);
              let current_count = 0;

              if (!incidents[current_date]) {
                incidents[current_date] = [];
                date_pos_track.push(current_date);
                current_count = 1;
              } else {
                current_count = incidents[current_date].count + 1;
              }

              const log = { count: parseInt(current_count), date: resp.data.incidents[i].date.slice(0, 10) };
              incidents[current_date] = log;

            }

            var sorted_incidents = [];
            for (let date_pos of date_pos_track) {
              sorted_incidents.push(incidents[date_pos]);
            }

            $("#heatmap-5").CalendarHeatmap('updateDates', []);
            $("#heatmap-5").CalendarHeatmap('appendDates', sorted_incidents);

          }
        }
    });
  }

  $("#heatmap-5").CalendarHeatmap([], {
    title: "",
    coloring: "viridis",
    legend: {
      divider: " - "
    },
    labels: {
      days: true,
      custom: {
        weekDayLabels: "dd"
      }
    }
  });

  function daysInMonth(month, year) {
    return new Date(year, month, 0).getDate();
  }

  function getMonthPos(selectedMonth) {
    const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    return (monthNames.indexOf(selectedMonth) + 1).pad();
  }

  function selectedMonthToProcess(selectedMonth) {
    if (currentYearData.length != 0) {

      // incidents
      var incidentReport = '';
      for (i = 0; i < currentYearData.incidents.length; i++) {
        const current_date = currentYearData.incidents[i].date.slice(0, 7);
        if (currentYear + '-' + getMonthPos(selectedMonth) === currentYearData.incidents[i].date.slice(0, 7)) {
          incidentReport = incidentReport + `<tr>
                        <td><small>`+ currentYearData.incidents[i].date + `</small></td>
                        <td><small>`+ currentYearData.incidents[i].description + `</small></td>
                        <td><small>`+ currentYearData.incidents[i].source + `</small></td>
                        <td><small>`+ currentYearData.incidents[i].severity + `</small></td>
                      </tr>`;

        }
      }
      document.getElementById("incidentReport").innerHTML = incidentReport;

      // tasks
      var taskReport = '';
      for (i = 0; i < currentYearData.tasks.length; i++) {
        const current_date = currentYearData.tasks[i].date.slice(0, 7);
        if (currentYear + '-' + getMonthPos(selectedMonth) === currentYearData.tasks[i].date.slice(0, 7)) {
          taskReport = taskReport + `<tr>
                        <td><small>`+ currentYearData.tasks[i].date + `</small></td>
                        <td><small>`+ currentYearData.tasks[i].systemid + `</small></td>
                        <td><small>`+ currentYearData.tasks[i].previous_point_marker + ' -> ' + currentYearData.tasks[i].current_point_marker + `</small></td>
                        <td><small>`+ currentYearData.tasks[i].status + `</small></td>
                      </tr>`;

        }
      }
      document.getElementById("taskReport").innerHTML = taskReport;
    } else {
      console.log("Array is empty!")
    }
  }

  function setupYearToggles(currentYear) {
    const yearView =
      `<input type="radio" class="btn-check" name="btnradio" id="btnradio3" onclick="yearSelected(` + (currentYear - 1) + `)"
                autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio3">` + (currentYear - 1) + `</label>
              <input type="radio" class="btn-check" name="btnradio" id="btnradio4" onclick="yearSelected(` + currentYear + `)"
                autocomplete="off" checked>
              <label class="btn btn-outline-primary" for="btnradio4">` + currentYear + `</label>`;
    document.getElementById("heatmap-5-wkday").innerHTML = yearView;
  }

  Number.prototype.pad = function (size) {
    var s = String(this);
    while (s.length < (size || 2)) { s = "0" + s; }
    return s;
  }


</script>